body {
    background-color: D3D3D3;
}

h1 {
    color: 800000;
}

h2 {
    color: 800000;
}

strong {
    color: 8B0000;
}

a {
    text-decoration: none;
    color: brown;
}

.Drop-cap {
    color: #903; 
    font-family: Georgia;
    initial-letter: 2;
}